<div>
  <h2>TRY TO SEARCH</h2>
  <%= form_tag search_tasks_path, method: :get do %>
    <%= text_field_tag :name, params[:name], placeholder: "Search my task" %>
    <%= submit_tag "Search Now", name: nil %>
  <% end %>
</div>