<div class="container" style="background-color:#00ff00">
  <div class="row align-items-start" style="border:5px #FFAC55 solid;">
    <div class="col-w" style="border:2px RED solid;">
      One of three columns
    </div>
    <div class="col-w" style="border:2px RED solid;">
      One of three columns
    </div>
    <div class="col-w" style="border:2px RED solid;">
      One of three columns
    </div>
  </div>